.flag {
    display: block;
    float: left;
    margin-right: .5rem;
    background-size: cover;
    background-position: center;
    height: 20px;
    width: 30px;
}

.small-flag {
    display: block;
    float: left;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 20px;
}

.pln {
    background-image: url('../images/PLN.png');
}

.aud {
    background-image: url('../images/AUD.png');
}

.bng {
    background-image: url('../images/BNG.png');
}

.brl {
    background-image: url('../images/BRL.png');
}

.cad {
    background-image: url('../images/CAD.png');
}

.chf {
    background-image: url('../images/CHF.png');
}

.clp {
    background-image: url('../images/CLP.png');
}

.cny {
    background-image: url('../images/CNY.png');
}

.czk {
    background-image: url('../images/CZK.png');
}

.dkk {
    background-image: url('../images/DKK.png');
}

.eur {
    background-image: url('../images/EUR.png');
}

.gbp {
    background-image: url('../images/GBP.png');
}

.hkd {
    background-image: url('../images/HKD.png');
}

.hrk {
    background-image: url('../images/HRK.png');
}

.huf {
    background-image: url('../images/HUF.png');
}

.idr {
    background-image: url('../images/IDR.png');
}

.ils {
    background-image: url('../images/ILS.png');
}

.inr {
    background-image: url('../images/INR.png');
}

.isk {
    background-image: url('../images/ISK.png');
}

.jpy {
    background-image: url('../images/JPY.png');
}

.krw {
    background-image: url('../images/KRW.png');
}

.mxn {
    background-image: url('../images/MXN.png');
}

.myr {
    background-image: url('../images/MYR.png');
}

.nok {
    background-image: url('../images/NOK.png');
}

.nzd {
    background-image: url('../images/NZD.png');
}

.php {
    background-image: url('../images/PHP.png');
}

.ron {
    background-image: url('../images/RON.png');
}

.rub {
    background-image: url('../images/RUB.png');
}

.sek {
    background-image: url('../images/SEK.png');
}

.sgd {
    background-image: url('../images/SGD.png');
}

.thb {
    background-image: url('../images/THB.png');
}

.try {
    background-image: url('../images/TRY.png');
}

.uah {
    background-image: url('../images/UAH.png');
}

.usd {
    background-image: url('../images/USD.png');
}

.xdr {
    background-image: url('../images/XDR.png');
}

.zar {
    background-image: url('../images/ZAR.png');
}

.xdr {
    background: #707070;
}
